/* ====================================== IN PROGRESS ======================================== */
#nomination-column{
    background: green;
}


#movie-row{
    margin:.5rem;
    margin-bottom:5rem;
    width: 100vw;
    width:max-content;
    width:100%;
    height: auto;
}
#movie-col{
    display: flex;
    flex-wrap: wrap;
}

img {
    vertical-align: middle;
    border-style: groove;
    max-height: 18rem;
    width: 15rem;
}

.truncate-description{
    width: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    resize: horizontal;
    font-size: initial;
}

.jumbotron {
    color: white;
    background-size: cover;
    padding: 25%;
    height: 100%;
    width: 100%;
    position: fixed;
    margin: 0;
    background-color: #212326;
    border-radius: .3rem;
}

.card{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 15rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: .5rem;
}
#search-row{
 background:transparent;
}

.form-control {
    display: block;
    width: 50%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#search-row {
    margin-top: 3rem;
    justify-content: center;
    height: 3rem;
}

#movie-col {
    display: flex;
    flex-wrap: wrap;
    max-width: 75%;
    justify-content: center;
}
/* ====================================== GLOBAL CSS ======================================== */

#app{
    min-height: 100vh;
    min-width:100%;
    overflow-x:hidden;
}


html,body {
    background: #212326;
    min-height: 100vh;
    min-width:100%;
    overflow-x:hidden;
}

a {
    font-family: 'Lato', sans-serif;
    text-align: right;
    color: white;
    font-style: lovelo;
    text-decoration: none;
    background-color: transparent;
}
.btn-primary {
    color: #fff;
    background-color: #008060;
    border-color: #008060;
}

 /* ============================ TOPNAV.JSX ========================== */


#topnav{
    background-color:transparent;
    height: 3rem;
}


.navbar-nav .nav-link {
    padding-right: 1rem;
    text-align: right;
}


.navbar-light .navbar-nav .nav-link {
    color: #212529;
}


.navbar-light .navbar-brand {
    color: white;
}


/* ============================ SIGNUP.JSX & LOGIN.JSX ==========================*/


#loginform{
    display: block;
    margin-top: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}


.login-form{
    max-width: 40rem;
}


.login-signup-row{
    position:fixed;
    width: 100vw;
    width: -webkit-fill-available;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


#login-button-row{
    margin: 1rem;
    margin-left: 20%;
}


#login-column{
    background-color: whitesmoke;
    height: 100%;
}

#signup-column{
    background-color:#212326;
    height: 100vh;
}


#login-button{
    width:94%;
}


#register-button-row{
    justify-content: center;
    margin: 1rem;
    margin-left: 20%;
}


#register-button{
    width:94%;
}


#signupform{
    display: block;
    margin-top: 40%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}