/* ====================================== IN PROGRESS ======================================== */
#submission-row{
    justify-content: center;
    max-width: 80%;
    min-width: 71rem;
    margin: auto;
    margin-top:1rem;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow:0px 10px 20px #007f60;
    background: #1b1d1f;
}

#user-submitted-nominations{
    display:flex;
    flex-wrap: wrap;
}


#submission-header-box{
    text-align: center;
    width: 50%;
    padding: 1rem;
    min-width: max-content;
    background: #fff;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 10px #fff;
    border-radius: .2rem;
    margin-bottom: 1rem;
    margin-top: -2rem;
}

#thanks-for-submitting{
    margin: auto;
}


/* ====================================== GLOBAL CSS ======================================== */

#app{
    min-height: 100vh;
    min-width:100%;
    overflow-x:hidden;
}


html,body {
    background: #212326;
    min-height: 100vh;
    min-width:100%;
    overflow-x:hidden;
}

/* ! REVISIT MAKING ALL PHOTOS SAME SIZE WITHOUT RUINING SCALE */
img {
    vertical-align: middle;
    border-style: groove;
    height: 18rem;
    width: 15rem;
}


a {
    font-family: 'Lato', sans-serif;
    text-align: right;
    color: white;
    font-style: lovelo;
    text-decoration: none;
    background-color: transparent;
}


h5{
    width: 80%;
    margin-left: auto;
    color:black;
}


.btn-primary {
    color: #fff;
    background-color: #008060;
    border-color: #008060;
}

 /* ============================ TOPNAV.JSX ========================== */

 #logo{
    outline: none;
    width: 2rem;
    height: 2rem;
    border-style: none;
    border-radius: .5rem;
    margin-right: .5rem;
}


#shoppies{
    font-family: ShopifySans, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    color: #fbf7ed;
    font-weight: 400;
}


#topnav{
    background-color:transparent;
    height: 3rem;
}


.navbar-nav .nav-link {
    padding-right: 1rem;
    text-align: right;
}


.navbar-light .navbar-nav .nav-link {
    color: white;
}


.navbar-light .navbar-brand {
    color: white;
}


/* ====================================== NOMINATION.JSX ======================================== */

#choose-5-to-submit{
    background: #007f60;
    border-radius: .25rem;
    color: white;
    padding: .5rem;
    text-align: center;
    height: 2.5rem;
}


#submit-nominations-button{
    margin: auto;
    width: -webkit-fill-available;
}


#nominations-title{
    color: black;
    font-family: ShopifySans, Helvetica, Arial, Lucida Grande, sans-serif;
    text-align: center;
    margin-left: 10%;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 600;
}


#nomination-div{
    padding: 1rem;
    background: #fbf7ed;
    color: #040404;
    box-shadow: 0px 0px 20px rgb(247 236 236 / 2%);
    border-radius: .5rem;
    width: 15rem;
    height: 23rem;
}

#remove-nomination{
    margin-right:.5rem;
}


#nominated-titles{
    height: 80%;
    padding-top:20%;
}


/* ====================================== HOMEPAGE.JSX ======================================== */

.card{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 14rem;
    max-width: 15rem;
    height:23rem;
    word-wrap: break-word;
    background-color:#fbf7ed;
    color: black;
    box-shadow:10px 0px 20px rgba(0,0,0,0.2);
    border-radius:20px;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .50rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 0;
}


.card:hover{
    transform: scale(1.05);
    opacity: 0.8;
    box-shadow:0px 15px 26px rgb(149, 191, 71);
    cursor: pointer;
}


.card:hover #hover-button{
    display:block;

}


.truncate-description{
    width: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: initial;
}


.col-xs-12, .col-md-9{
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
}

#hover-button{
    display:none;
    color: #fff;
    background-color: #008060;
    border-color: #008060;
    margin-top: -14rem;
    margin-left: 25%;
    width: 50%;
}



#movie-row{
    justify-content: center;
    max-width: 80%;
    min-width: 71rem;
    margin: auto;
    margin-top:1rem;
    border-radius: 1rem;
    background: linear-gradient(45deg, transparent, #00000063);
    padding: 2rem;
    box-shadow:0px 10px 20px #007f60;
}

#search-input{
    width: 50vw;
    margin: auto;
    height: 2rem;
    background:#fbf7ed;
}


#search-row{
 background:transparent;
}


#search-row {
    margin-top: 3rem;
    justify-content: center;
    height: 3rem;
}


#movie-col {
    display: flex;
    flex-wrap: wrap;
    max-width: 75%;
    justify-content: center;
}


/* ====================================== LANDINGPAGE.JSX ======================================== */
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


 #login-signup-button{
    width: 80%;
    margin: auto;
    float: center;
    background: black;
 }

.jumbotron h1{
    font-weight: bold;
    background: linear-gradient(to bottom, #007f60, #59cc34);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    line-height: 1;
}


.jumbotron {
    color: #fbf7ed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    margin: 0;
    background: linear-gradient(#007f60, #06070700);
    border-radius: .3rem;
}


#welcome-text{
    margin: auto;
    margin-bottom: 1rem;
    max-width: 350px;
}


#white-box{
    text-align: center;
    width: 90%;
    margin: 30%;
    padding: 1rem;
    min-width: max-content;
    background: #fff;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 10px #fff;
}

/* ============================ SIGNUP.JSX & LOGIN.JSX ==========================*/


#loginform{
    display: block;
    margin-top: 75%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}


.login-form{
    max-width: 40rem;
}


.login-signup-row{
    position:fixed;
    width: 100vw;
    width: -webkit-fill-available;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


#login-column{
    background-color: #fbf7ed;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#signup-column{
    background-color:black;
    height: 100vh;
    align-items: center;
    justify-content: center;
}


#login-button{
    width:80%;
    margin-left:10%
}


#register-button{
    width:80%;
    margin-left:10%
}


#signupform{
    display: block;
    margin-top: 65%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}